/* Font Styles */

/* This part of the code about adding the 'Nanum Gothic' font is referenced from this
link: https://www.w3schools.com/howto/tryit.asp?font=Nanum%20Gothic */
body {
    font-family: 'Nanum Gothic';
    color: #606060;
}
/* This part of the code about adding the 'Nanum Gothic' font is referenced from this
link: https://www.w3schools.com/howto/tryit.asp?font=Nanum%20Gothic */

/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main Wrapper */

.wrapper {
    background-color: #f2f2f2;
    width: 100%;
}

/* Header Styles */
h1 {
    text-align: center;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    color: lightblue;
}

h2 {
    color: lightblue;
}

header p {
    text-align: center;
    margin-bottom: 45px;
    padding: 20px;

}

.profile-image {
    width: 85%;
    display: block;
    margin: auto;
    padding: 40px;

}


/* Nav Styles  */


.main-nav li {
    width: 85%;
    background-color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

/* Link Styles */

a {
    text-decoration: none;
}

a:link {
    color: #606060;
  }

a:visited {
    color: lightblue;
  }
  
a:hover {
    color: #A0A0A0;
  }
  


/* Main Styles */

.main-content h2 {
    text-align: center;
    padding-top: 30px;
    margin: auto;
    text-transform: uppercase;

}

.card h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;

}

.card p {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}

.img {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.contact-info h2 {
    text-transform: uppercase;
    padding: 20px;
}

.social-media h2 {
    text-transform: uppercase;
    padding: 20px;
}

.contact-info p {
    font-size: 1.2em;
    text-align: center;
    padding: 20px;

}

.contact-info ul {
    list-style-type: none;
    text-align: center;
    padding: 30px;
}

.contact-info ul li {
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
}

.social-media ul {
    list-style-type: none;
    text-align: center;
    padding: 30px;
}

.social-media ul li {
    padding: 20px;
    font-size: 1.2em;
    overflow-y: none;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 1.1em;

.card {
    padding: 35px;
}


/* Footer Styles */

footer {
    border-top: solid 1px #cccccc;
    padding: 20px;

}

footer ul {
    list-style-type: none;

}

.non-mobile {
    display: none;
}

.mobile {
    float: right;
    overflow: hidden;
    display: inline-block;

}

.name-in-footer {
    display: inline-block;
}


/* Clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  
}

/* Media Queries for 768/1024px both */
@media (min-width: 768px),
@media (min-width: 1024px) {

    .non-mobile,
    .non-mobile li{
        display: inline-block;
        float: right;
        padding: 5px;
        text-transform: uppercase;
    }

    .mobile {
        display: none;
    }

}

    .nav li {
        background-color: #f2f2f2;

    }

/* Media Queries for 768/1024px separately */

@media (min-width: 768px) {

    .main-nav {
        margin: auto;
        text-align: center;
        padding-top: 20px;
        background-color: #f2f2f2;

    }

    .main-nav li {
        display: inline;
        margin: auto;

    }

    .profile-image {
        float: right;
        width: 40%;
        margin: 10px;
        padding: 10px;
    }

    .wrapper-2 {
        margin: 40px;

    }

    .wrapper-2 p{
        max-width: 40%;
        text-align: left;

    }

    .card {
        width: 50%;
        float: right;
    }

    .contact-info ul li {
        display: block;

    }

    .social-media ul li {
        display: block;

    }

}

@media (min-width: 1024px) {
    .name,
    .nav,
    .nav li, {
        display: inline;
    }

    .nav {
        display: inline;
        float: right;

    }

    .name {
        float: left;
    }

    .wrapper-2 {
        padding-top: 60px;

    }

    .card {
        width: 33%;
        float: right;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 30px;
    }

    .contact-info {
        padding-top: 20px;

    }
}